
@mixin size_little_category () {
    width: 360px;
    height: 260px;
}

@mixin pink__text() {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: $main-color;
}

.category {
background-color: #fff;
padding: 65px 0;
    &--wrap {
        display: flex;
        @include wrap;
        gap: 30px;
    }
    &__item {
        @include center;
        background-repeat: no-repeat;
        background-size: auto;
        background-color: #C4C4C4;
        &:nth-child(1) {
            background-image: url("../img/for_woman.jpg");
        }
        &:nth-child(2) {
            background-image: url("../img/for_men.jpg");
        }
        &:nth-child(3) {
            background-image: url("../img/for_kids.jpg");
        }
        &:nth-child(4) {
            width: $width-dekstrop;
            height: 180px;
            background-image: url("../img/accesories.jpg");
        }
        &:not(:last-child) {
            @include size_little_category;
        }
        & a {
            text-decoration: none;
            width: 100%;
        }
        & p {
            width: 100%;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: $main-color;
            text-align: center;
                &::first-line {
                    color: #FFFFFF;
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: normal;
                }
        }
    }
}