
.features {
    background-color: #222224;
    padding: 103px 0;
    &__wrap {
        display: flex;
        justify-content: space-between;
        @include wrap;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
        & h3 {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #FBFBFB;
            text-align: center;
            margin-top: 19px;
        }
        & p {
            color: #FBFBFB;
            font-weight: 300;
            font-size: 14px;
            line-height: 16.77px;
            text-align: center;
            margin: 16px 0;
        }
    }
}
