

.feedback {
    background-color: #F4F4F4;
    background-image: url("../img/feedback_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 155px;
}
