

.feedback {
    background-color: #F4F4F4;
    background-image: url("../img/feedback_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 155px;
    &__wrap {
        display: flex;
        justify-content: space-between;
        @include wrap;
    }
    &__review {
        width: 360px;
        text-align: center;
        & p {
            margin-top: 30px;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            & span {
                font-style: italic;
                }
            } 
        }
    &__subscribe {
        width: 560px;
        text-align: center;
        padding: 0 93px;
        & h2 {
            margin-bottom: 32px;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #222224;
            &::first-line {
                font-weight: 700;
                font-size: 24px;
                line-height: 40px;
            }
        }
    }

}
