$bg-color: #222222;
@mixin wrap() {
    flex-wrap: wrap;
}
@mixin position() {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 


.header {
    background-color: $bg-color;
    padding: 19px 0;
    &--wrap {
        @include position;
        @include wrap;
    }
    &__left {
        display: flex;
        align-items: center;
        & a {
            text-decoration: none;
            color: transparent;
            margin-right: 41px;
            & svg {
                fill: #F8F8F8;
                &:hover {
                    fill: $main-color;
                }
            }
        }
        & button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
    &__right {
        display: flex;
        align-items: center;
        gap: 32px;
        & a {
            text-decoration: none;
            color: transparent;
        }
        & button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
}
