$bg-color: #222222;



.header {
    background-color: $bg-color;
    padding: 19px 0;
    &--wrap {
        @include position;
        @include wrap;
    }
    &__left {
        & a {
            margin-right: 41px;
        }
    }
    &__right {
        & img {
            &:not(:last-child) {
                margin-right: 33px;
            }
        }
    }
}
