$bg-color: #F1E4E6;
$bg-img: url("../img/man_bg.png");


.intro {
    background-color: $bg-color;
    &__wrap {
        height: 764px;
        @include wrap;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-image: $bg-img;
        background-repeat: no-repeat;
        background-position: -225px 0;
        &__text {
            border-left: 12px solid $main-color;
            padding-left: 16px;
            &__bold {
                font-weight: 900;
                font-size: 48px;
                line-height: 58px;
            }
            &__decor {
                color: $main-color;
            }
            & h1 {
                font-weight: bold; 
                font-size: 32px;
                line-height: 38px;
                }
           
        
    }
}
}
