@mixin wrap() {
    flex-wrap: wrap;
}
@mixin position() {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
} 
