
.pagination {
	display: flex;
	justify-content: center;
	padding: 20px 0;

    &__list {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 10px;	
        border: 1px solid grey;
        border-radius: 5px;
        padding: 10px;
    }
    &__item {

        &--separation {
            margin: 0 -10px;
        }
        
    }

}
