
.products {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 48px;
    &__wrap {
        display: flex;
        flex-direction: column;
        & header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;
            margin-bottom: 48px;
            & h2 {
                font-weight: 400;
                font-size: 30px;
                line-height: 36px;
                color: #222222;
            }
            & p {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #9F9F9F;
            }
        }
        &__cards {
            display: flex;
            justify-content: space-between;
            @include wrap;
            gap: 30px;
            &__item {
                width: 360px;
                background-color: #F8F8F8;
                &__text {
                    width: 315px;
                    padding: 18px;
                & h3 {
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 16px;
                    color: #000000;
                }
                & p {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                    color: #5D5D5D;
                    margin-top: 12px;
                    margin-bottom: 18px;
                }
                & h4 {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: $main-color;
                }
             }
            }
        }
        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 48px 0;
            & a {
            padding: 10px 20px;
            border: 1px solid $main-color;
            color: $main-color;
            text-decoration: none;
            font-size: 16px;
            line-height: 19px;
            &:hover {
                background-color: $main-color;
                color: #FFF;
            }
            }
        }
    }
}