$main-color:#F16D7F;
$width-dekstrop: 1140px;
$shadow: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));

@import '_header.scss';
@import '_intro.scss';
@import '_mixins.scss';
@import '_category.scss';
@import '_filters.scss';
@import '_products.scss';
@import '_pagination.scss';
@import '_features.scss';
@import '_feedback.scss';
@import '_footer.scss';
@import '_inner.scss';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: $width-dekstrop;
    margin: 0 auto;
}

main {
    flex-grow: 1;
}
.hidden {
    width: 1px;
    height: 1px;
    position: absolute;
    left: -99999px;
    margin: -1px;
}