@import url(_header.scss);

@mixin position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.container {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}
