@import '_header.scss';
@import '_intro.scss';
@import '_mixins.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
}

.container {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}
